# HW02

## Some exercises to get started with data analysis in Python

### Setup

Run the following 2 cells to import all necessary libraries and helpers for Homework 02

In [2]:
!wget -q https://github.com/DM-GY-9103-2024S-R/HW02/raw/main/HW02_utils.pyc
!wget -q https://github.com/DM-GY-9103-2024S-R/9103-utils/raw/main/src/io_utils.py

In [3]:
import matplotlib.pyplot as plt

from HW02_utils import Tests
from io_utils import object_from_json_url

### Exercise 01:

Finding the sum of integer sequences.

#### Exercise 01A:

Find the sum of all integers from $0$ to $128$.

In [1]:
## Work on exercise 01A here

sum_0128 = 0

#### Exercise 01B:

Using variables, generalize the calculation from 01A to find the sum of all integers between two given integers.

For example, the sum between all integers from $4$ to $32$ is $522$.

In [19]:
## Work on exercise 01B here

i0 = 4
i1 = 32

sum_432 = 0

#### Exercise 01C:

Create a function ```sum_of_ints(i0, i1)``` that returns the sum of all integers between two integers.

For example, ```sum_of_ints(4, 32)``` should return $522$.

In [17]:
## Work on exercise 01C here

def sum_of_ints(i0, i1):
  return 0

In [14]:
def sum_of_ints(i0, i1):
    n = i1 - i0 + 1
    return (n * (i0 + i1)) // 2


result = sum_of_ints(10, 20)
print(result)

165

### Exercise 01C testing:

Running the following cell will test the ```sum_of_ints()``` function on a small set of input pairs and report any combination that isn't computing correctly, if any.

In [16]:
# Test 01C
Tests.test("01C", sum_of_ints)

ERROR Check sum of sum_of_ints(89, 53) should be 2627 not -2485
ERROR Check sum of sum_of_ints(-20, -88) should be -3726 not 3618
ERROR Check sum of sum_of_ints(36, 14) should be 575 not -525
ERROR Check sum of sum_of_ints(-50, -81) should be -2096 not 1965
ERROR Check sum of sum_of_ints(77, 8) should be 2975 not -2890
ERROR Check sum of sum_of_ints(-63, -100) should be -3097 not 2934

### Exercise 02:

Working with lists and dictionaries/objects.

#### Exercise 02A:

Write a function `sum_list(in_list)` that returns the sum of all numbers in its argument `in_list`.

For example, `sum_list([1, 4, 7, 12, 43, -10])` should return $57$.

The function should skip empty and non-integer items.

In [23]:
def sum_list(in_list):
    total = 0
    for num in in_list:
        total += num
    return total

# Example usage with a list of numbers
example_list = [10, 20, 30, 40, 50]
result = sum_list(example_list)
print(result)

150

#### Exercise 02A test:

Run the following cell to test the ```sum_list()``` function.

In [20]:
# Test 02A
Tests.test("02A", sum_list)

NameError: name 'sum_list' is not defined

#### Exercise 02B:

Write a function `sum_objects(in_list)` that accept a list of objects and returns a sum according to the following specifications:

Each object in the list has 2 fields, `type` and `amount`, and so will look something like this:

```python
list = [
  { "type": "cost", "amount": 10.00 },
  { "type": "cost", "amount": 15.99 },
  { "type": "income", "amount": 150.25 },
  { "type": "income", "amount": 243.52 },
]
```

The `sum_objects(in_list)` function should iterate through all of the items in `in_list` and sum their `amount`s using positive values when `type` is `"income"`, and negative values when `type` is `"cost"`.

Passing the above list to the function should return $367.78$.

In [26]:
def sum_objects(in_list):
    return sum(obj["amount"] if obj["type"] == "income" else -obj["amount"] for obj in in_list)

# Example usage
list_objects = [
  { "type": "cost", "amount": 10.00 },
  { "type": "cost", "amount": 15.99 },
  { "type": "income", "amount": 150.25 },
  { "type": "income", "amount": 243.52 },
]

print(sum_objects(list_objects))

367.78

In [27]:
# Run this cell to test if function returns 367.78

test_list = [
  { "type": "cost", "amount": 10.00 },
  { "type": "cost", "amount": 15.99 },
  { "type": "income", "amount": 150.25 },
  { "type": "income", "amount": 243.52 },
]

sum_objects(test_list)

367.78

#### Exercise 02B test:

Run the following cell to test the `sum_objects()` function.

In [28]:
# Test 02B
Tests.test("02B", sum_objects)

02B: All tests passed ðŸŽ‰ðŸŽ‰ðŸŽ‰

### Exercise 03:

Working with data files.

Find the name and population of the 3 cities that are geographically closest to the world's most populous city.

# ðŸ¤”ðŸ˜±

#### Exercise 03A:

Let's break this down into a few sub-problems.

First, let's load a JSON file that has information about large cities in the world.

The file at this url https://raw.githubusercontent.com/DM-GY-9103-2024S-R/9103-utils/main/datasets/json/cities50k.json has a list of cities formatted like this:

```py
{
  "name": "Pittsburgh",
  "country": "US",
  "admin1": "Pennsylvania",
  "lat": 40.4406200,
  "lon": -79.9958900,
  "pop": 304391
}
```

In [29]:
# Work on 03A here

# Define the location of the json file here

CITIES_FILE = ""

# Use the object_from_json_url() function imported from HW02_utils
# to load contents from the file into a Python object called "info_cities"

info_cities = []

In [38]:
CITIES_FILE = "https://raw.githubusercontent.com/DM-GY-9103-2024S-R/9103-utils/main/datasets/json/cities50k.json"

def fetch_locations(url):
    data = object_from_json_url(url)
    locations = [{'latitude': item['lat'], 'longitude': item['lng']} for item in data]
    return locations

locations = fetch_locations(CITIES_FILE)

KeyError: 'lng'

#### Exercise 03B:

Ok. We should now have a list of objects with information about cities.

Explore the data and answer the following questions:
- How many cities are in this list?
- What's the name of the first city on the list?
- What are the latitude and longitude of the last city on the list?
- What are the populations for the largest and smallest cities?
- What's the name of the city with the largest population?

In [37]:
# Work on 03B here

# How many cities are in the list?

num_cities = 0


# What's the name of the first city on the list?

first_city = ""


# What are the latitude and longitude of the last city on the list?

last_latitude = 0
last_longitude = 0


# What are the populations for the largest and smallest cities?

largest_population = 0
smallest_population = 0


# What's the name of the city with the largest population?

largest_city_name = ""

#### Test 03B

In [ ]:
# Test 03B
answers = [num_cities, first_city, last_latitude, last_longitude, largest_population, smallest_population, largest_city_name]

Tests.test("03B", answers)

#### Exercise 03C:

We have the largest city's name and population, but we need its position.

We can recycle some of the logic from above to get the whole object that contains information for the largest city.

In [ ]:
# Work on 03C here

largest_city = {}

In [ ]:
# Test 03C
Tests.test("03C", largest_city)

#### Exercise 03D:

We should have all info about the largest city here.

Now, we'll iterate through the list and use each city's latitude and longitude to calculate its distance from the largest city.

Althought not $100\%$ correct, it's ok to use the [2D Euclidean distances](https://en.wikipedia.org/wiki/Euclidean_distance#Two_dimensions) for this.

Could be useful to define a function `distance(cityA, cityB)` that returns the distance between two cities.

In [ ]:
# Work on 03D here

# Implement the helper function for calculating distances between 2 cities

def distance(cityA, cityB):
  return 0

In [ ]:
# Test 03D
Tests.test("03D", distance)

#### Exercise 03E:

Ok. We implemented a function to calculate the distance between 2 cities, let's use it now.

Iterate through the list of cities again, calculate the distance from each city to the largest city, but now save the name, population and distance of each city on a separate list, called `city_distances`.

`city_distances` should look something like this:

```py
[
  { "name": "Abu Dhabi", "pop": 603492, "distance": 12.34 },
  { "name": "Ajman City", "pop": 490035, "distance": 98.76 },
  ...
  { "name": "Norton", "pop": 52054, "distance": 56.78 }
]
```

In [ ]:
# Work on 03E here

# Now calculate every city's distance from the largest city and
# save that on a new list

city_distances = []

In [ ]:
# Test 03E
Tests.test("03E", city_distances)

#### Exercise 03F:

Now, sort the array from the previous step by distance and get the name and population of the 3 cities closest to the largest city.

The answer should be an object where its keys are city names and values are populations.

Something like:

```python
closest_3 = {
  "pittsburgh": 23412,
  "liverpool": 172821,
  "oakland": 182726
}
```

In [ ]:
# Work on 03F here

# Sort the array and get the name of the 3 cities closest to the largest city

cities_by_distance = []

closest_3 = {}

In [ ]:
# Test 03F
Tests.test("03F", closest_3)

### Exercise 04:

Visualizing data files.

#### Exercise 04A:

Let's load a JSON file that has information about houses in the Los Angeles metropolitan region of California.

The file at this url https://raw.githubusercontent.com/DM-GY-9103-2024S-R/9103-utils/main/datasets/json/LA_housing.json has a list of objects formatted like this:

```python
{
  "longitude": -114.310,
  "latitude": 34.190,
  "age": 15,
  "rooms": 12.234,
  "bedrooms": 3.514,
  "value": 669000
}
```

The number of rooms and bedrooms are not integers because some addresses have multiple units/apartments with different floorplans that get averaged.

In [ ]:
# Work on 04A here

# Define the location of the json file here

HOUSES_FILE = ""

# Use the object_from_json_url() function imported from HW02_utils
# to load contents from the file into a Python object called "info_houses"

info_houses = []

#### Exercise 04B:

Explore the data and answer the following questions:
- How many instances are there in our dataset?
- What's the value of the most expensive house?
- What's the max number of bedrooms in a house?
- What's the number of bedrooms in the house with the most rooms?
- What's the number of rooms in the house with the most bedrooms?

In [ ]:
# Work on 04B here

# How many instances are there in our dataset?
# This is the same as asking "how many rows" or, in this case, "how many houses"

num_houses = 0


# What's the value of the most expensive house?

max_value = 0


# What's the number of bedrooms in the house with the most bedrooms?

most_bedrooms = 0


# What's the number of bedrooms in the house with the most rooms?

bedrooms_in_most_rooms = 0


# What's the number of rooms in the house with the most bedrooms?

rooms_in_most_bedrooms = 0

In [ ]:
# Test 04B
answers = [num_houses, max_value, most_bedrooms, bedrooms_in_most_rooms, rooms_in_most_bedrooms]

Tests.test("04B", answers)

#### Exercise 04C:

Which of the features (`longitude`, `latitude`, `age`, `rooms` or `bedrooms`) is a better indicator for value of a house?

We're going to use XY scatter plots to visualize house value as a function of each of these features, and see if any of them show strong correlation.

Documentation for the plotting library is here:
https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

One thing to note is that the functions for plotting like to get lists of values and not lists of objects.

Before we plot anything, let's define a function `list_from_key(objs, key)` that returns a list with all values of feature `key` for all of the objects in `objs`.

In [ ]:
# Work on 04C here

# helper function to get lists of values from specific key
def list_from_key(obj, key):
  return []

In [ ]:
# Test 04C
Tests.test("04C", list_from_key)

#### Exercise 04D:

Now we can actually plot some values and start looking for correlations.

In [ ]:
# Work on 04D here

# get a list with all of the price values
prices = []

# get a list with all of the house ages (for example)
house_ages = []


# this is the command to plot a XY scatter plot from 2 lists
# see documentation: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

plt.scatter(house_ages, prices)
plt.xlabel("age")
plt.ylabel("value")
plt.show()

#### Exercise 04E:

What if we use two features at a time?

Is there a pair of features (`longitude`, `latitude`, `age`, `rooms` or `bedrooms`) that correlates to house value?

In [ ]:
# Work on 04E here

# get a list with all of the price values
prices = []

# get a list with all of the values of one feature
feature_0_values = []

# get a list with all of the values of another feature
feature_1_values = []

# this is how we plot an XY scatter plot using 3 lists
# see documentation: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html

plt.scatter(feature_0_values, feature_1_values, c=prices, alpha=0.3)
plt.xlabel("feature_0")
plt.ylabel("feature_1")
plt.show()